<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension point="org.eclipse.ui.views">
      <view
         id="fr.pacman.front.start.ui.views.HtmlViewerView"
         name="Récapitulatif pour le projet"
         icon="icons/pacmug.png" 
         class="fr.pacman.front.start.ui.views.HtmlViewerView"
         restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.obeonetwork.dsl.is.ui.categoryID"
            class="fr.pacman.front.start.ui.GenerateStartWizard"
            helpHref="https://github.com/spi4j/spi4j"
            icon="icons/pacmug.png"
            id="fr.pacman.front.start.ui.wizard"
            name="Projet Cali"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            project="true">
         <description>
            Création d'un nouveau projet Cali
         </description>
      </wizard>
   </extension>
</plugin>
