<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.pacman.front.cinematic.react.client.rs.ui.handlers.ReactClientRsGeneratorsHandler"
            commandId="fr.pacman.front.react.client.rs.ui.commands.reactGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="fr.pacman.front.ui.menus.generators"
               icon="icons/pacmug.png"
               tooltip="Liste des générateurs Cali"
               label="Générateurs Cali">
            <command
                  icon="icons/generate.png"
                  commandId="fr.pacman.front.react.client.rs.ui.commands.reactGeneratorCommand"
                  id="fr.pacman.front.react.client.rs.ui.commands.reactGeneratorCommand" 
                  label="Génération du client pour le service">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="soa">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.pacman.front.react.client.rs.ui.commands.generatorsCategory"
            name="Generators">
      </category>
      <command
            categoryId="fr.pacman.front.react.client.rs.ui.commands.generatorsCategory"
            id="fr.pacman.front.react.client.rs.ui.commands.reactGeneratorCommand"
            name="Génération du fichier client rs pour la cinématique">
      </command>
   </extension>
</plugin>

