<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="caliProduct"
         point="org.eclipse.core.runtime.products">
         <product
            application="org.eclipse.ui.ide.workbench"
            description="Plugins du programme Cali"
            name="Cali">
	         <property
	               name="windowImages"
	               value="pacmug.png">
         	</property>
	         <property
	               name="aboutImage"
	               value="pacmug.png">
	         </property>
	         <property
	               name="appName"
	               value="Cali">
	         </property>
	         <property
	               name="aboutText"
	               value="Plugins du programme Cali">
	         </property>
      </product>
   </extension>
</plugin>